# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# OS junk
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Models / serialized objects
*.joblib
*.pkl
*.h5

# Logs
*.log

# Plots or results you don’t want on Git (optional)
plots/
results/

# Sensitive data
creditcard.csv
