# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# OS junk
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Models / serialized objects
*.joblib
*.pkl
*.h5

# Logs
*.log

# Sensitive data
creditcard.csv

# .gitignore
venv/
__pycache__/
*.pyc
*.pkl
*.joblib
*.h5
*.log
.DS_Store
.ipynb_checkpoints/
creditcard.csv
